[Desktop Entry]
Encoding=UTF-8
Name=Chicken Launcher
Exec=chickenlauncher
Icon=/usr/local/share/icons/hicolor/32x32/apps/chicken.png
Comment=
Categories=Game;
